#photo-slider {
  position: fixed;
  bottom: -134px;
  left: 0;
  width: 100vw;
  height: 170px;
  transition: 0.08s ease-in;
  display: flex;
  flex-direction: column;
  background: #252525b6;
}

#photo-slider.show {
  bottom: 0;
}

#photo-slider button.toggle {
  width: 100vw;
  height: 35px;
  color: #fafafa;
  border: none;
  background: transparent;
  position: relative;
}
#photo-slider button.toggle:hover {
  color: #252525;
}

#photo-slider button.toggle:before {
  content: "";
  position: absolute;
  background: #ffcc00;
  color: #252525;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: height 0.08s ease-out;
  height: 0px;
}
#photo-slider button.toggle:hover:before {
  height: 34px;
}

#photo-slider button {
  border: none;
  background-color: transparent;
  color: #fafafa;
  overflow: hidden;
  z-index: 40;
  position: absolute;
  padding: 0;
  top: 0;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#photo-slider button {
  right: 0px;
}
#photo-slider button.left {
  left: 0px;
}

#photo-slider .slider {
  border-top: 3px solid #ffcc00;
  position: relative;
}

#photo-slider .item-list {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 133px;
  top: 0;
  background: #252525;
}

@media (max-width: 900px) {
  #photo-slider {
    background: transparent;
    bottom: -133px;
  }

  #photo-slider button.toggle {
    width: 140px !important;
    border-radius: 1px 1px 0 0;
    margin: auto;
    border: 0;
    background: #252525b6;
  }
  #photo-slider button.toggle:hover {
    color: #fafafa;
  }
}
