#photo-header {
  position: fixed;
  user-select: none;
  top: 0px;
  right: 0px;
  padding: 2px 16px;
  padding-left: 95px;
  width: 100vw;
  height: 68px;
  color: #fafafa;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #00000081;
  transition: all 0.2s cubic-bezier(0.28, 0.84, 0.42, 1);
}

#photo-header.loading {
  animation: 2s infinite blink;
}

#photo-header.hidden {
  top: -68px;
}

#photo-header a,
#photo-header a:visited {
  color: #ffffff;
  text-decoration: underline;
}

#photo-header a:hover {
  color: #ffcc00;
}

#photo-header h4 {
  overflow: hidden;
  text-align: left;
  min-width: 0;
  text-align: right;
}

#photo-header h4,
#photo-header p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 0;
}

#photo-header p span {
  margin-left: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#photo-header .header-controls {
  position: absolute;
  top: 90px;
  right: 30px;
}
