@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  background-color: #fafafa;
  color: #252525;
  margin: 0;

  font-size: 14px;
  font-family: "Roboto";
}

p {
  margin: 2px 0;
}

/******************
 *
 * HEADINGS
 *
 ******************/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

@media (max-width: 620px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }
}

/******************
 *
 * FORM
 *
 ******************/

input {
  margin: 0;
  border: none;
}

button {
  cursor: pointer;
}

/******************
 *
 * LINKS
 *
 ******************/

a,
a:visited {
  color: #252525;
}

a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

a.flickr {
  background-color: #ffffff88;
  border-radius: 2px;
  color: #0063dc !important;
  padding: 2px 4px;
}

a.flickr i {
  color: #ff0084;
  text-transform: lowercase;
  font-style: normal;
}

a.flickr:hover {
  color: #ff0084 !important;
}

/******************
 *
 * ICONS
 *
 ******************/

.gg-chevron-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  scale: 1.7;
  width: 23px;
  height: 23px;
  border: 2px solid;
  background-color: #3b3b3b44;
  border-radius: 100px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.gg-chevron-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 5px;
  top: 6px;
  transition: all 0.1s ease;
}
.gg-chevron-o:hover {
  transform: translateX(2px);
  background-color: #fafafa44;
}
.gg-chevron-o:hover::after {
  left: 6px;
}
.gg-chevron-o.up {
  rotate: -90deg;
}
.gg-chevron-o.left {
  rotate: 180deg;
}
.gg-chevron-o.down {
  rotate: 90deg;
}

/******************
 *
 * TRANSITIONS
 *
 ******************/

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
